<form method="POST" action="{% url 'signup_user' %}">
    {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
    <div class="form-group">
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form method="GET" action="{% url 'login_user' %}">
    {% csrf_token %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>